<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pagamento Cartão</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.map"></script>




 

</head>
<body>

<h1>Pagamento Teste</h1>
  
    
    
<script type="text/javascript">
var checkout = new DirectCheckout('10951138DA2E18AA0275F43ACA03649EC406D9F5331D9F78CC4169A965B873AB35FFAEE08E46454E');

$(document).ready(function() {
	
	$('#cpf').mask('000.000.000-00',{reverse: true});
	
	$('#cep').mask('00000-000',{reverse: true});
	
	$('#cvv').mask('000',{reverse: true});
	
	$('#numerocartao').mask('0000.0000.0000.0000',{reverse: true});




    function limpa_formulário_cep() {
        // Limpa valores do formulário de cep.
        $("#rua").val("");
        $("#numero").val("");
        $("#cidade").val("");
        $("#estado").val("");
    }
    
    //Quando o campo cep perde o foco.
    $("#cep").blur(function() {

        //Nova variável "cep" somente com dígitos.
        var cep = $(this).val().replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                $("#rua").val("...");
                $("#cidade").val("...");
                $("#estado").val("..");

                //Consulta o webservice viacep.com.br/
                $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                	
                	//console.info(dados);

                    if (!("erro" in dados)) {
                        //Atualiza os campos com os valores da consulta.
                        $("#rua").val(dados.logradouro);
                        $("#cidade").val(dados.localidade);
                        $("#estado").val(dados.uf);
                    } //end if.
                    else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                    }
                });
            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    });
});


function realizarPagamento(){


var idVendaCampo = $('#idVendaCampo').val();
var numerocartao = $('#numerocartao').val();
var nomecartao = $('#nomecartao').val();
var cpf = $('#cpf').val();
var mesvalidade = $('#mesvalidade').val();
var anovalidade = $('#anovalidade').val();
var cvv = $('#cvv').val();
var qtdparcela = $('#qtdparcela').val();
var cep = $('#cep').val();
var rua = $('#rua').val();
var numero = $('#numero').val();
var estado = $('#estado').val();
var cidade = $('#cidade').val();


if(cidade.trim() == ''){
  alert('Informe a Cidade de cobrança do cartão de crédito.');
  return;
}


if(estado.trim() == ''){
  alert('Informe o Estado de cobrança do cartão de crédito.');
  return;
}

if(numero.trim() == ''){
  alert('Informe a Número de cobrança do cartão de crédito.');
  return;
}

if(rua.trim() == ''){
  alert('Informe a RUA de cobrança do cartão de crédito.');
  return;
}


if(cep.trim() == ''){
  alert('Informe CEP de cobrança do cartão de crédito.');
  return;
}


if(cvv.trim() == ''){
  alert('Informe CVV do cartão de crédito.');
  return;
}


if(mesvalidade.trim() == ''){
  alert('Informe mês de válidade do cartão de crédito.');
  return;
}

if(numerocartao.trim() == ''){
  alert('Informe o número do cartão de crédito.');
  return;
}

if(nomecartao.trim() == ''){
  alert('Informe o nome como escrito no cartão de crédito.');
  return;
}

if(cpf.trim() == ''){
  alert('Informe cpf do responsável pelo cartão de crédito.');
  return;
}


var cardData = {
	cardNumber: numerocartao.replaceAll('.',""),
	holderName: nomecartao,
	securityCode: cvv,
	expirationMonth: mesvalidade,
	expirationYear: anovalidade
};


var isValidCardNumber = checkout.isValidCardNumber(cardData.cardNumber);

if (isValidCardNumber == false){
  alert('Número do cartão é inválido');
  return;
}


var isValidSecurityCode = checkout.isValidSecurityCode(cardData.cardNumber, cvv);

if (isValidSecurityCode == false){
  alert('Códivo CVV de segurança é inválido.');
  return;
}


var isValidExpireDate = checkout.isValidExpireDate(cardData.expirationMonth, cardData.expirationYear);

if (isValidExpireDate == false){
  alert('Data de válidade é inválida');
  return;
}


var isValidCardData = checkout.isValidCardData(cardData, function(error) {
  
  if (error.toString().includes('Invalid holder name', error)){
	  alert('Seu nome informado não está igual ao escrito no cartão de crédito.');
  }else{
	  alert('Mensagem de erro: ' + error.toString());
  }
  
  return;
});


// console.info('isValidCardData' + isValidCardData);
// console.info('isValidExpireDate' + isValidExpireDate);
// console.info('isValidSecurityCode' + isValidSecurityCode);
// console.info('isValidCardNumber' + isValidCardNumber);

if (isValidCardData && isValidExpireDate && isValidSecurityCode && isValidCardNumber){
  
    checkout.getCardHash(cardData, function(cardHash) {
      
	document.getElementById('buttonrealizarPagamento').disabled = true;
	document.getElementById('buttonrealizarPagamento').value = 'Efetuando pagamento...';
  
   $.ajax({
	   method: 'POST',
	   url: 'finalizarCompraCartao',
	   data: {
		   cardHash: cardHash,
		   cardNumber: cardData.cardNumber,
		   holderName: cardData.holderName,
		   securityCode: cardData.securityCode,
		   expirationMonth: cardData.expirationMonth,
		   expirationYear: cardData.expirationYear,
		   idVendaCampo: idVendaCampo,
		   cpf: cpf,
		   qtdparcela: qtdparcela,
		   cep: cep,
		   rua: rua,
		   numero: numero,
		   estado: estado
	   }
   }).success(function (response) {
	 
	   document.getElementById('buttonrealizarPagamento').disabled = true;
	   document.getElementById('buttonrealizarPagamento').value = 'Sucesso, OK... Pago';   
	   
   }).fail(function (xhr, status, errorThrown) {
	   
	   document.getElementById('buttonrealizarPagamento').disabled = false;
	   document.getElementById('buttonrealizarPagamento').value = 'Realizar Pagamento';   
	   
	   alert('Erro ao efetuar pagamento: ' + errorThrown);
	   return;
   });
  
  
	  
 
  }, function(error) {
      alert('Não foi possível gerar o HASH do cartão de crédito": ' + error);
	  return;
	  
  });
  
}else {
  alert('O pagamento não pode ser realizado.');
  return;
}


}      

</script>
</body>
</html>